body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(40, 20px);
    grid-template-rows: repeat(20, 20px);
    gap: 2px;
}

.square {
    width: 20px;
    height: 20px;
    background-color: rgb(29, 29, 29); /* Initial color set to dark gray */
    transition: background-color 1s ease;
}

.square:hover {
    background-color: #3498db;
}
